.container{
    overflow: hidden;
    background-color: rgb(30,30,30);
}
.tech-skill{
    margin-top: 15px;
    /* border: .01px solid grey; */
    padding: 30px;
    box-shadow: 2px -2px 5px black;
    margin-bottom: 30px;
    border-radius: 2rem;
}
.soft-skill{

    margin-top: 15px;
    /* border: .01px solid rgb(30,30,30); */
    padding: 30px;
    box-shadow: 2px -2px 5px black;
    border-radius: 3rem;
}
