@media(min-width: 993px){
    .navbar{
        box-shadow: 2px 2px 5px black;
        position: sticky;
        top: 0;
        z-index: 3;
    }
    #logo{
        height: 40px;
        object-fit: cover;
        padding: 0px;
        margin-left: 20px;
        margin-right: 200px;
    }
    .navbar-nav{
        width: 700px;
        display: flex;
        justify-content: space-around;
    }
    .nav-link{
        font-size: larger;
    }
    .nav-link:hover{
        color: #108073;
        border-bottom: 2px solid #108073;
    }
    .contact{
        background-color: white;
        color: black;
        padding: .5rem;
        border-radius: 2rem;
    }
}
@media(max-width: 992px){
    .navbar{
        box-shadow: 2px 2px 5px black;
        position: sticky;
        top: 0;
        z-index: 3;
    }
    #logo{
        height: 40px;
        object-fit: cover;
        padding: 0px;
    }
    .contact{
        background-color: transparent;
        display: inline;
    }
    .nav-link{
        color: black;
    }
    .nav-item{
        display: inline;
    }
}
